/* Google Fonts - Backup (Orbitron as fallback) */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

/* Local Digital Font */
@font-face {
    font-family: 'Segment7';
    src: url('../fonts/segment7.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Segment7';
    src: url('../fonts/segment7.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Local Fallback Fonts */

/* Montserrat (Bold & ExtraBold available locally) */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/Montserrat-Bold-Latin.woff2') format('woff2');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url('../fonts/Montserrat-ExtraBold-Latin.woff2') format('woff2');
}

/* Quicksand (Medium & Bold available locally) */
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../fonts/Quicksand-Medium-Latin.woff2') format('woff2');
}

@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/Quicksand-Bold-Latin.woff2') format('woff2');
}
